@model SecondHandSharing.Models.Item
<h2>@Model.Title</h2>
<img src="~/images/@Model.Image" width="300">
<p>@Model.Description</p>
<p><b>Tình trạng:</b> @Model.Condition</p>
<p><b>Trạng thái:</b> @Model.Status</p>
